.btn-upvote {
  padding: 0 !important;
  width: 69px;
  height: 100% !important;
  min-height: 32px !important;
  font-weight: 700;
}

.btn-upvote:not(.btn-active) span {
  color: theme(colors.base-heading);
}

@container card (min-width: 30rem) {
  .btn-upvote {
    flex-direction: column;
    height: 53px !important;
    width: 100%;
    min-width: 40px;
  }
}
