@import "tailwindcss";

@theme {
  --color-electric-violet: #ad1fea;
  --color-royal-blue: #4661e6;
  --color-rhino: #373f68;
  --color-zircon: #f2f4ff;
  --color-link-water: #f7f8fd;
  --color-east-bay: #3a4374;
  --color-lynch: #647196;
  --color-tacao: #f49f85;
  --color-malibu: #62bcfa;
  --color-periwinkle: #cfd7ff;
}

@layer components {
  .with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, --spacing(4));
  }

  .with-sidebar > .sidebar {
    /* The width when the sidebar _is_ a sidebar */
    flex-basis: 255px;
    flex-grow: 1;
  }

  .with-sidebar > .not-sidebar {
    /* Grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    /* Wrap when the elements are of equal width */
    min-inline-size: 50%;
  }

  .switcher {
    display: flex;
    flex-wrap: wrap;
    --threshold: 30rem;

    & > * {
      flex-grow: 1;
      flex-basis: calc((var(--threshold) - 100%) * 999);
    }
  }
}

:root {
  --background: var(--color-link-water);
  --foreground: var(--color-east-bay);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jost);
  line-height: normal;
}
