@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    container: card / inline-size;
  }

  [data-theme="mytheme"] header .content {
    --padding-card: 24px;
  }

  [data-theme="mytheme"] .header .content {
    background-image: url('/assets/suggestions/mobile/background-header.png');
    background-size: cover;
  }

  @media (min-width: 768px) {
    [data-theme="mytheme"] .header .content {
      background-image: url('/assets/suggestions/tablet/background-header.png');
    }
  }

  @media (min-width: 1024px) {
    [data-theme="mytheme"] .header .content {
      background-image: url('/assets/suggestions/desktop/background-header.png');
    }
  }

  [data-theme="mytheme"] .filter-card {
    --padding-card: 24px;
  }

  [data-theme="mytheme"] .feedback-card {
    --rounded-box: 5px;
  }

  .btn {
    height: 40px;
    min-height: 40px;
    font-size: 13px;
  }

  @media (min-width: 640px) {
    .btn {
      height: 44px;
      min-height: 44px;
      font-size: 14px;
    }
  }

  [data-theme="mytheme"] .btn-neutral {
    background-color: #3A4374;
    border-color: #3A4374;
    color: #F2F4FF;
  }

  [data-theme="mytheme"] .btn-neutral:hover {
    background-color: #656EA3;
    border-color: #656EA3;
  }

  [data-theme="mytheme"] .btn-primary:hover {
    background-color: #C75AF6;
    border-color: #C75AF6;
  }

  [data-theme="mytheme"] .btn-secondary.btn-sm {
    height: 30px;
    min-height: 30px;
    padding-inline: 16px;
    font-size: 13px;
  }

  [data-theme="mytheme"] .btn-secondary.btn-active:hover {
    background-color: #7C91F9;
    border-color: #7C91F9;
  }

  [data-theme="mytheme"] .btn-secondary:not(.btn-active) {
    background-color: #F2F4FF;
    border-color: #F2F4FF;
    color: #4661E6;
  }

  [data-theme="mytheme"] .btn-secondary:not(.btn-active):hover {
    background-color: #CFD7FF;
    border-color: #CFD7FF;
  }

  [data-theme="mytheme"] .btn-error:hover {
    background-color: #E98888;
    border-color: #E98888;
  }

  [data-theme="mytheme"] form .input,
  [data-theme="mytheme"] form .textarea,
  [data-theme="mytheme"] form .select {
    --rounded-btn: 5px;
    font-size: 13px;
    line-height: normal;
    color: #3A4374;
  }

  @media (min-width: 640px) {
    [data-theme="mytheme"] form .input,
    [data-theme="mytheme"] form .textarea,
    [data-theme="mytheme"] form .select {
      font-size: 15px;
    }
  }

  [data-theme="mytheme"] form .input {
    padding-inline: 24px;
  }

  [data-theme="mytheme"] form .textarea {
    padding-block: 16px;
    padding-inline: 24px;
  }

  [data-theme="mytheme"] form .select {
    background-image: none;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
  }

  [data-theme="mytheme"] form .input:focus,
  [data-theme="mytheme"] form .textarea:focus,
  [data-theme="mytheme"] form .select:focus {
    border-color: #4661E6;
    outline: none;
  }
}
